h1,
h2,
ul,
p {
  /* 가장 최상단에 적어줘야 함 */
  margin: unset;
  /* margin 없애기 (initial == 초기값) */
  /* 브라우저가 알아서 margin의 초기값을 알고 넣어주는 것 */
  /* 상속이 안되는 태그들은 inital 로 설정해주는게 좋음 */
  padding: unset;
}

li {
  list-style-type: none;
}

h1,
h2 {
  font-size: unset;
  /* 상속(inherit) - 부모로부터 상속 받음 */
  /* 상속이 되는 태그들은 inherit 로 설정해주는게 좋음 */
  font-weight: unset;
}

body {
  background-image: url(./images/background.gif);
}

.wrapper {
  background-color: #ddd;
  width: 800px;
  /* display: block; */
  /* width:400px로 지정했는데 옆으로 생기는게 아닌 아래에 생기는 이유?
    - display : block 속성이라서 */
  /* margin-left: auto; */
  /* width: 400%; 속성을 지정 후 남은 오른쪽 여백은 div한테 권한이 있음. 그 상태에서 margin-left:auto;를 해주면 자동적으로 오른쪽에 배치됨(div 권한이므로) */

  height: auto;

  margin: 100px auto;
  /* 0 : 위,아래  / auto : 좌우 */
  /*  margin-left: auto; 이러면 우측 정렬이지만,
      margin: 0 auto;로 지정해주면 가운데 정렬이 됨 */

  /* border: 10px solid red; */
}

.header {
  background-image: url(./images/cover02.png);
  /*  div 이면서 header라는 클래스를 갖고 있는 것 
          (바로 밑에 (자식 의미) == X) */
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
  /* 모든 텍스트의 색상을 흰색으로 변경 */
}

.header img {
  margin: 0 auto;
  /* 프로필 이미지가 두개면 위아래로 생김 */
  display: block;
  /*  display: inline-block;
      - 이렇게 작성하면 가운데 정렬 안됨
      - (인라인 세상에서의 블록) */
}

.header h1 {
  /* background-color: gold; */
  text-align: center;
  /*  text-align: center;
        -코드로 작성했다고 h1이 center로 이동한 것이 아님
          컨텐츠만 이동한 것 */
  /* h1은 width:100%;로 가득 차 있음 == 그 공간은 모두 h1의 꺼 == 그래서 위 코드를 작성했다고 해서 h1 자체가 움직인 것이 아닌 텍스트만 이동한 것 */
  /*  h1의 width 크기를 300px로 줄이면? - 크기 줄어듦 
      + 300px 값에서만 텍스트가 center로 이동 */

  /*  h1 텍스트의 길이가 길어지면 어떻게 출력될까 ?
      - height 길이가 없어서 h1에 적은 텍스트의 길이만큼 늘어남 */

  /* width: fit-content; */
  /*  텍스트의 크기 만큼만 늘어남 
      - fit-content가 content가 넘칠 떄 width가 맞춰서 늘어 나는 것*/

  font-size: 100px;
}

.header p {
  border-top: 4px solid white;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto;
}

.section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  background-image: url(./images/icon-information.png);
  background-repeat: no-repeat;
  /* 이 코드를 적어줘야 그림이 한개만 생김 */
  background-position: right 30px center;
  background-color: black;
  /* 배경색을 넣은 이유는 아래에서 확인 */
}

.skill {
  background-image: url(./images/icon-skills.png);
  background-color: red;
  /* .section 에서 배경색을 검정색으로 설정 후
      . skill 배경색을 빨강으로 설정하면
        후위우선의 원칙에 의해 검정색 색상 위에 빨강으로 덮힘 */
}

.section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: salmon;
}

.list li {
  border-left: 5px solid #ddd;
  padding-left: 5px;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f4f4f4;
  /* pad: 10px 0; */
}

/*  margin: 0;   내가 계산
    margin: inital;   컴퓨터한테 계산하라고 시킨 것 */


/*  상속은 모든 프로퍼티에 적용되는 개념이 아님
    몇몇 프로퍼티들만 상속이 지원됨 
      - margin / background-color / text-align 는 상속이 안됨  */
/* ★ background-color : 자식에 따로 안넣으면 그냥 어미 배경이 적용 되는거지 상속이 아님 ★ */


/* ★★★★★
브라우저야 뭐하냐 자동으로 좀 해주라 부탁~
  => font-size: unset;
    어 이거 상속되는 애네? inherit
  => margin: unset;
    어 얘는 상속 안되는데? initial
*/


/* 2023.07.14	오후특강 - 이종찬 유튜버님

덩어리 - div

html 잔뜩 해놓고 css 시작하면 감당이 안됨
- html 한부분 짜면 css 짜는 방식으로 해야함 */