/* font --------------------------------- */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


/* reset --------------------------------- */
body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* 이미지 초기화 */
img {
  vertical-align: top;
  /* top 기준으로 정렬 - 기본적으로 초긱값을 주고 시작함 */
  /* 텍스트들을 어디 기준으로 정렬할거냐 ? -- 베이스라인 기준 */
  /* vertical-align:middle/bottom 으로 설정해도 이미지 아래쪽 공간이 남는게 해결 되는지? */
  /* --> 보통 top으로 초기화를 많이 시킴 */
}

/* a태그 reset */
a {
  color: inherit;
  text-decoration: none;
}

/* 추가 - 버튼 초기화 */
input,
button {
  font: inherit;
}

button {
  border: 0;
  background: none;
}

button:enabled {
  cursor: pointer;
}

ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}



/* CSS 적용 --------------------------------- */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: #fffaf0;
}

.max-width {
  /* 따로 만든 이유 - 반복될거라 사용하기 편하게 하기 위해 */
  width: 1284px;
  /* width값을 고정하게 되면 모니터 화면에 크기에 따라서 여백 크기가 달라질 수도 있음 */
  /* width:1284px로 값을 고정해주지 않으면 모니터에 크기에 따라 무한대로 늘어날 수 있음 -- 고정이 안된다는 뜻 */
  margin: auto;
  /* auto로 설정하면 크기가 줄어도 위치가 고정됨 */
  max-width: 100%;
  max-width: calc(100% - 60px);
  /* 양 옆에 30%씩 늘려주고 싶을 때 사용 */
  /* background-color: red; */
  /* max-width : 자신이 부모보다 크면 부모를 넘지 않게 하기 위해 !  
    Ex) 이미지 크기   자식의 이미지 크기가 부모의 이미지 크기보다 클 경우가 있을 수 있음 */
}



/* header -------------------------------------- */

/* bgc 색상을 왜 .header .max-width 에 안주고 .header 에 주는지 ? -- .header .max-width 에 적용해주면 양쪽 여백까지 bgc가 인식되어버림 ! */
.header {
  background-color: #fff;
}

.header .max-width {
  /* background-color: skyblue; */
  height: 120px;
  display: flex;
  justify-content: space-between;
  /* 양 끝에 배치 */
  align-items: center;
  /* 세로정렬 */
}

.header h1 {
  width: 156px;
}


/* 추가 index.html */
.header .login-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header .login-text p strong {
  font-family: 'Pretendard-Bold';
  box-shadow: inset 0 -0.5em 0 rgba(255, 79, 110, 0.8);
}

@media (min-width: 601px) {
  .header .login-text p::after {
    content: '|';
    color: #d8ddde;
    margin-left: 24px;
  }
}

@media (max-width: 600px) {
  .header .login-text p {
    position: absolute;
    top: 140px;
    right: 30px;
  }
}



/* footer -------------------------------------*/
footer {
  text-align: center;
  /* 중앙배치 */
  color: #677888;
  font-size: 12px;
}




/* 버튼 ---------------------------------------- */
[class^='btn'] {
  display: inline-flex;
  /* a태그는 inline 요소  : linline인데 block 속성도 가짐*/
  height: 40px;
  padding: 0 20px 0 52px;
  background-color: #fff;
  /* background-image: url(../img/icon-join.svg); */
  /* 그냥 img가 아닌 back~img 쓰는 이유?  --  사용자에게 읽힐 필요 없고, 이미지가 변경될 일이 거의 없으면 이미지를 background로 넣는다고 이해하면 될듯 ! (강사님은 이 방법 추천하심) */
  background-repeat: no-repeat;
  /* 배경을 반복하지 않고 한개만 보여주겠다 */
  background-size: 32px;
  background-position: 10px 50%;
  /* ps로 잡아줘도 되지만 %로 해주면 알아서 중앙으로 옴  -- 예시로 현재는 우측 글씨가 회원가입 4글자밖에 없지만, 글자의 길이가 늘어나거나 영문으로 바뀌어도 %로 설정하면 위치값은 변경되지 않음 - 중앙에 배치됨  */
  align-items: center;
}


/* 추가 */
.btn-login {
  background-image: url(../img/icon-login.svg);
}

.btn-join {
  background-image: url(../img/icon-join.svg);
}

.btn-logout {
  background-image: url(../img/icon-logout.svg);
}



/* 로그인 */
.login {
  margin-top: 70px;
}

.main-title {
  width: 250px;
  margin: auto;
  text-align: center;
}

.main-title svg {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.svg-heart {
  stroke: transparent;
  stroke-width: 0;
  transform-origin: 50% 20px;
  scale: 0.8;
  animation: heart 0.5s cubic-bezier(0.69, 1.08, 0.74, 0.35) infinite alternate;
}

@keyframes heart {
  100% {
    stroke: #ffc7d1;
    stroke-width: 2px;
    scale: 2.5;
  }
}

.main-title strong {
  color: #29363d;
  font-size: 24px;
  font-family: 'Pretendard-Bold';
  box-shadow: inset 0 -0.5em 0 rgba(255, 79, 110, 0.2);
  border-bottom: 2px solid #ff4f6e;
}



/* 로그인 form ------------------------------------------ */
.login .form {
  width: 392px;
  /* background-color: skyblue; */
  margin: 40px auto 50px;
}

.form label {
  display: block;
  /*인라인인걸 블록으로 변경*/
  font-size: 14px;
  color: #29363d;
  margin-bottom: 8px;
}

.form input {
  width: 100%;
  height: 48px;
  /* 부모의 길이만큼 주려고 100%로 지정했는데, padding, border 속성 때문에 밖으로 튀어나감 -- 해결방법 - border속성을 넣어주고 padding을 0으로 처리해주기 */
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #677880;
  border-radius: 4px 4px 0 0;
}

.form>div {
  margin-bottom: 24px;
}

.form button[type='submit'] {
  width: 100%;
  height: 48px;

  background-color: #29363d;
  color: #f4f5f5;
  border-radius: 4px;
}

.form textarea {
  display: block;
  width: 100%;
  height: 360px;
  border: 1px solid #677880;
  border-radius: 4px;
  resize: none;

  box-sizing: border-box;
  padding: 10px;
  font: inherit;
}

/* 코딩한걸 브라우저가 인식해서 화면에 보여주는 것
  : 렌더링 */