body {
  width: 288px;
  height: 348px;
}

h2 {
  margin: 0;
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  /* a태그 사용 시 자동으로 밑줄 그어지는 것을 지움 */
}

/* 아직 아래의 두 코드는 이해못함
아 예시로 맑은고딕 이라는 글꼴이 있으면 글꼴의 두께의 종류가 여러가지임
굵기가 400인 것과 700인 것 
그래서 글꼴 설정을 해놓고 각각의 위치에 맞는 글꼴을 넣어주는 것임 ! */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
  /* font-family:font-name / generic-name          [font-name,         generic-name]; */
  /*             (글꼴 이름)  (모양이 비슷한 글꼴)   serif(바탕체)        font-name의 대체 수단
                                                   sans-serif(고딕체)
                                                   cursive(필기체)
                                                   fantasy(장식체)
                                                   monospace(고정폭)                        */
  color: #29363d;
}

.article1 {
  width: 288px;
  border-radius: 8px;
  /* 이미지와 텍스트를 모두 감싸고 있는 영역 - 제일 큰 테두리 */
  box-shadow: 2px 2px 8px 0px;
}

img {
  width: 100%;
  /*이 속성을 지정해주니까 비율에 맞게 들어감 */
  /* % 단위의 크기는 부모요소의 영향을 받음 
    - 따라서 부모요소의 몇 %를 차지하냐 라는 것 
    - body의 width=288px 이므로 288px 전체(100%) 차지한다 라는 뜻 */

  aspect-ratio: 288/196;
  /*
    aspect-ratio 사용법
    1. width / height 값 지정 --- 비율 지정
      Ex) 3  /  1                 너비는 3, 높이는 1 이라는 비율 값을 가지게 됨 
    2. 한 개의 값만 지정 시
      - 높이는 1로 간주함
      Ex) 5;                      너비는 5, 높이는 1 인 비율 값
    3. 두 개의 값 지정
      - auto와 두 개의 값을 동시에 지정 가능
      Ex) auto 1/1
  */

  object-fit: cover;
  /* - 이미지나 비디오 같은 오브젝트 사이즈를 컨테이너 크기에 맞춰 조절 가능
     - 가로 세로 비율은 유지하면서 컨테이너에 꽉 차도록 설정함 */

  border-radius: 8px 8px 0 0;
  /* 이건 이미지의 테두리를 조정 */
}

.text-group {
  /* 사진 아래에 있는 텍스트 내용 모두를 class="text-group" 로 묶어줬음 */
  padding: 24px 16px 16px;
  /* top / right-left / bottom */
}

.text1 {
  font-family: 'Pretendard-Bold';
  overflow: hidden;
  /* 텍스트가 너무 길어서 박스 밖으로 나가면 나간 텍스트는 숨긴다는 의미
      - 이제 숨겨진 부분을 처리하는 방법에 대해 알아보자
        1. white-space: nowrap;       텍스트가 한 줄로 표시됨
        2. text-overflow: ellipsis;   텍스트가 요소의 영역을 넘어갈 때 ... 으로 표시
        3. overflow: hidden;          요소 내부의 내용이 넘치는 경우 가려진 부분이 숨겨지도록 표시
  */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text2 {
  font-size: 14px;
  color: #5a6a72;
  margin: 16px 0;
  overflow: hidden;

  /* text-overflow: ellipsis; */
  display: -webkit-box;

  -webkit-box-orient: vertical;
  /* 가로정렬 (vertical) */
  -webkit-line-clamp: 2;
  /* 입력된 숫자만큼의 문장 수 출력 */

  /* 아래 두 줄 코드 이해안감 */
  line-height: 1.6;
  height: calc(14px * 1.6 * 2);
  height: calc(1em * 1.6 * 2);
  /* 같은 높이값을 유지하고 싶을 때 사용
      동일하게 height 속성 값을 설정하기 위해서는
      height = line-height * 제한 줄 수 */
}

.read {
  text-decoration: underline;
  font-family: 'Pretendard-Bold';
  font-size: 14px;
}